*{
    padding: 0;
    margin: 0;
}
article{
    width: 100%;
}
.header{
    height:72px;
    box-sizing: border-box;
    background-color: #343434;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 75px;
    height: 64px;
    margin-left: 20px;
}
.img_logo{
    width: 100%;
}
.menu{
    margin-right: 20px;
    transform: rotate(90deg);
    color:#AA8453 ;
    font-weight: bolder;
}
.principal{
    background-color: #272727;
    width: 100%;
    height: 396px;
    

}
.title{
    font-family: 'Gilda Display', serif;
    color: #ffffff;
    font-size: 24px;
    display: block;
}
.container_form{
    display: block;
}
label{
    color: #AA8453;
    

}
.button{
    display: block;

}